.App {
  min-height: 100vh;
  position: relative;
}

.App:after {
  content: "";
  background: url("./img/bg_image.jpg") 0 6px/cover no-repeat fixed;
  opacity: .45;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.is-done {
  opacity: .5;
}

.listItem:hover {
  background: #a1b7c4;
  color: rgb(25, 118, 210);
  opacity: .75;
  transition: .5s;
}